<app-navbar></app-navbar>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<section class="section">
    <div class="hero">
    <div class="text">
        <h1>Reserve Your Place And Enjoy!!</h1>
        <h4>The best Reservation website</h4>
        <button type="button" class="btn btn-info" (click)="reservep()">Reserve Now</button>
    </div>
    </div>
</section>
<!-- The Band Section -->
<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 id="band" class="w3-wide">THE BAND</h2>
    <p class="w3-opacity"><i>We love Movie</i></p>
    <p class="w3-justify">
        Welcome to the world of Cinemalicious, a unique and vibrant band deeply passionate about the magic of cinema. Founded by a group of film enthusiasts, Cinemalicious is not your typical musical experience – it's an ode to the silver screen. Our melodies are inspired by iconic movie soundtracks, and our lyrics weave tales of cinematic adventures. Join us on a musical journey where each note
         resonates with the emotions and stories that only the magic of cinema can evoke. Whether you're a film buff or just love good music, Cinemalicious invites you to immerse yourself in the captivating fusion of melodies and movie magic. Let the music roll, and let the reels of imagination spin!</p>
</div>
<div class="w3-content w4-padding" style="max-width:1564px">

    <div class="w3-container w3-padding-32" id="projects">
      <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Popular Movies</h3>
    </div>
  
    <div id="movie" class="w3-row-padding">
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-display-topleft w3-black w3-padding">Summer House</div>
          <img src="../../assets/Aeron Man.jpg" alt="House" style="width:100%">
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-display-topleft w3-black w3-padding">Brick House</div>
          <img src="../../assets/Banshee1.jpg" alt="House" style="width:100%">
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-display-topleft w3-black w3-padding">Renovated</div>
          <img src="../../assets/film2.jpg" alt="House" style="width:100%">
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-display-topleft w3-black w3-padding">Barn House</div>
          <img src="../../assets/Breaking bad.jpg" alt="House" style="width:100%">
        </div>
      </div>
    </div>
  
    <div class="w3-row-padding">
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-display-topleft w3-black w3-padding">Summer House</div>
          <img src="../../assets/film1.jpg" alt="House" style="width:99%">
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-display-topleft w3-black w3-padding">Brick House</div>
          <img src="../../assets/film3.jpg" alt="House" style="width:99%">
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-display-topleft w3-black w3-padding">Renovated</div>
          <img src="../../assets/Breaking bad.jpg" alt="House" style="width:99%">
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-display-topleft w3-black w3-padding">Barn House</div>
          <img src="../../assets/Banshee2.jpg" alt="House" style="width:99%">
        </div>
      </div>
    </div>

    <div class="w3-container w3-padding-32" id="contact">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Contact</h3>
    <p>Lets get in touch and talk about your next project.</p>
    <form action="/action_page.php" target="_blank">
      <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Email" required name="Email">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Subject" required name="Subject">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Comment" required name="Comment">
      <button class="w3-button w3-black w3-section" type="submit">
        <i class="fa fa-paper-plane"></i> SEND MESSAGE
      </button>
    </form>
  </div>
<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Company name
            </h6>
            <p>
              Here you can use rows and columns to organize your footer content. Lorem ipsum
              dolor sit amet, consectetur adipisicing elit.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Products
            </h6>
            <p>
              <a href="#!" class="text-reset">Angular</a>
            </p>
            <p>
              <a href="#!" class="text-reset">React</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Vue</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Laravel</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="#!" class="text-reset">Pricing</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Settings</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Orders</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Help</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i> Marrakech, NY 40000, MORROCCO</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
                emsi-edu.gmail.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 06 234 567 88</p>
            <p><i class="fas fa-print me-3"></i> + 05 234 567 89</p>
          </div>
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2024 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">EMSI.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
<!-- <section class="spons">
    <div class="content">
        <img src="../../assets/c1.jpg" alt="">
        <img src="../../assets/c2.jpg" alt="">
        <img src="../../assets/c3.jpg" alt="">
        <img src="../../assets/c4.jpg" alt="">
        <img src="../../assets/c5.jpg" alt="">
    </div>
</section> -->
<!-- <h3 class="Popular">Popular Movies</h3>
<div class="cards-list">

    <div class="card">
      <div class="card_image"> <img src="../../assets/Aeron Man.jpg" /> </div>
      
    </div>
    <div class="card">
        <div class="card_image"> <img src="../../assets/Banshee1.jpg" /> </div>
       
      </div>
      <div class="card">
        <div class="card_image"> <img src="../../assets/Banshee2.jpg" /> </div>
      
      </div>
      <div class="card">
        <div class="card_image"> <img src="../../assets/Banshee3.jpg" /> </div>
       
      </div>
      <div class="card">
        <div class="card_image"> <img src="../../assets/Breaking bad.jpg" /> </div>
       
      </div>
    
      <div class="card">
        <div class="card_image"> 
            <img src="../../assets/film1.jpg" /> 
        </div>
      </div>
      
      <div class="card">
        <div class="card_image"> <img src="../../assets/Aeron Man.jpg" /> </div>
       
      </div>
      
      <div class="card">
        <div class="card_image"> <img src="../../assets/film3.jpg" /> </div>
       
      </div>
    
    
</div> -->